<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<%-# Below is code for using ransack to create the search for. Currently attempting to use React instead of Ransack gem.-%>
	<% if false %>
	<%= search_form_for @q, url: search_api_acagroups_path, html: { method: :post } do |f| %>
		<%= f.label :Name_cont, "Group Name Contains" %>
		<%= f.search_field :Name_cont %>
		<%= f.submit "Search Groups"%>
	<% end %>
	<% end %> 
	<!-- This is the end of the Ransack code -->

	<%= react_component 'AcagroupApplication' %>
</body>
</html>




